<!DOCTYPE html>
<html lang="en">
<head>
	<title>LandLordScore New User Registration</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
	<p>Welcome New User!</p>
	<p>Fill out the form below to get started!</p>
	<form>
		<div>
			<label for="input-username">Username</label>
			<input id="input-username" type="text" name="username">
		</div>
		<div>
			<label for="input-password">Password</label>
			<input id="input-password" type="text" name="password">
		</div>
		<div>
			<label for="input-self-description">Self Description</label>
			<input id="input-self-description" type="text" name="self-description">
		</div>
		<div>
			<input type="submit" name="submit-username-password" class="js-submit-username-password">
		</div>
	</form>



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script type="text/javascript" src="../controllers/index.js"></script>

</body>
</html>